.search-results-box {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    flex-flow: column;
    align-items: stretch;
}
.line{
    height: 0;
    margin: 0;
}
.line:after {
    content:'';
    display:inline-block;
    width:100%; height:100%;
    border-bottom:1.6px solid #eaeaea
}

.results-data {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 3rem 3rem 0rem 3rem;
    box-sizing: border-box;
    align-items: center;
}

.available-button-box {
    padding: 15px;
    background-color: #ececec;
    margin: 0.7em;
    justify-content: center;
    flex: 0 0 auto;
}

.available-button-box.non-available{
    opacity: 0.2;
}

.available-button-box:not(.non-available):hover{
    opacity:0.4;
    transition: 0.3s;
    cursor: pointer;
}

.available-button-box.chosen {
    background-color: #FF5C00;
}