.screen{
    height: 100vh;
    /* width: 100%; */
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen .user-home {

}

.screen-choice-grid {
    position: absolute;
    box-sizing: border-box;
    height: 80vh;
}

.screen-choice-button {
    width: 400px;
    height: 300px;
}