.listing-container {
    margin-top: 50px;
    max-width: 90vw;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 48px;
}

.table-content {
    border-radius: 8px;
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.1);
}
.table-row:first-of-type {
    margin-top: 0px;
}
.table-row {
    display: -ms-grid;
    display: grid;
    width: 100%;
    box-sizing: border-box;
    -ms-grid-columns: 1.5fr 1fr 1.5fr 1.5fr 2fr 3fr 3fr;
    -ms-grid-template-columns: 1.5fr 1fr 1.5fr 1.5fr 2fr 3fr 3fr;
    grid-template-columns: 1.5fr 1fr 1.5fr 1.5fr 2fr 3fr 3fr;
    padding: 25px 40px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 25px;
    position: relative;
}


.table-header {
    padding: 16px 40px;
    margin: 0;
    border-radius: 0;
    background: transparent;
    margin-bottom: 1.5rem;
}

.table-header.table-row {
    box-shadow: none;
}

.table-headline {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1rem;
    letter-spacing: 0.1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #262626;
}

.dot {
    height: 900px;
    width: 900px;
    background-color: #f1f1f1;
    border-radius: 50%;
    position: fixed;
    z-index: -10;
    overflow: hidden;
    right: 0;
    margin-top: 135px;
  }

  .functional-button {
    position: absolute;
    margin-top: -70px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: calc(100% - 350px);
  }

  .functional-button > button{
    outline: none;
    border: none;
    padding: 15px;
  }

  .functional-button > button:hover {
      opacity: 0.7;
      cursor: pointer;
  }

  