.sign-in-form {
  transition: width 1s;
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

.sign-in-form:focus-within {
  transition: width 1s;
  width: 80%;
}

.sign-in-form div {
  padding: 0 25% 0 25%;
  max-width: 280px;
}

.sign-in-form input[type="text"],
.sign-in-form input[type="password"],
.sign-in-form input[type="email"] {
  width: 100%;
  padding: 2.5px;
  margin: 15px;
  border: none;
  border-bottom: 2px black solid;
  outline: none;
}

.sign-in-button {
  display: flex;
}