.top-menu {
    width: 100vw;
    height: 10vh;
    background-color: #eaeaea;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.user-menu {
    width: 28%;
    right: 0;
    min-width: 240px;
    display: flex;
    justify-content: space-between;
    color: white;
    background: #FF5C00;

}

.user-menu:hover {
    background-color: #ea5400;
    cursor: pointer;
}

.icon-wrapper {
    height: 100%;
    width: 95px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-wrapper > i {
    font-size: 1.5rem;
}

.user-menu-dropdown{
    width: 28%;
    height: 300px;
    margin-top: 10vh;
    position: absolute;
    background-color: #bcbcbc;
}